body{
    margin:20px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    width:150px;
}
.card{
    width: 400px;
    margin:0 auto;
    padding: 20px;
    display: flex;
   justify-content: center;
    text-align: center;
    background:#e5c6ef ;
    color:#2b2839;
    border-bottom: 6px solid #bbd7f6;
}

.border-blue{
    border:1px dotted blue;
}